   .ticket {
    width: 425px;
    height: 190px;
    top:0px;
    position: relative;
   transform: rotate(-90deg) translateX(-150px) translateY(7px); 
       
}

.bar:hover + .ticket {
          transition: top 2s;
          top: -200px;
       }

@keyframes openticket {
    from {top: 0px;}
    to {top: -200px;}
}
    
 .bar {
    width: 450px;
    height: 200px;
    position: relative;
    transform: rotate(-90deg) translateX(-150px) translateY(450px);
    z-index:20;
   
}